@import url(reset.css);
@import url(header.css);
@import url(footer.css);


body {
    font-family: sans-serif;
    margin: 0px;
    background-color: #EAF7FF ;
}

main {
    background-color: #EAF7FF;
    padding: 20px;
}

#page-title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
