main {
    background-color: #EAF7FF;
    padding: 20px;
}

#page-title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.wash-data {
    background-color: white;
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-radius: 8px;
    margin-bottom: 20px
}

.name {
    font-weight: bold;
    margin-top: 3px;
}

.wash-data__past {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 15px;
}

.price {
    background-color: #DCFCFE;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: larger;
    padding: 5px 5px;
    width: auto;
    border-top-right-radius: 8px;
    font-size: 15px;
}

.name,
.date,
.fixed-text {
    margin: 5px;
}